In [1]:
import pandas as pd

## Import All Tables & Inspect Them

In [2]:
df_fact = pd.read_csv(r'dataset\cloudwatch\Tables\cw_fact_table.csv')

In [3]:
df_fact.head()

,fact_id,bytes_in,bytes_out,creation_time,end_time,connection_time,total_bytes,ipaddress_id,country_id,protocol_id,responsecode_id,port_id,names_id,detectiontype_id
0,1,5602,12990,2024-04-25 23:00:00,2024-04-25 23:10:00,600.0,18592,1,1,1,1,1,1,1
1,2,30912,18186,2024-04-25 23:00:00,2024-04-25 23:10:00,600.0,49098,2,2,1,1,1,1,1
2,3,28506,13468,2024-04-25 23:00:00,2024-04-25 23:10:00,600.0,41974,3,3,1,1,1,1,1
3,4,30546,14278,2024-04-25 23:00:00,2024-04-25 23:10:00,600.0,44824,4,2,1,1,1,1,1
4,5,6526,13892,2024-04-25 23:00:00,2024-04-25 23:10:00,600.0,20418,5,4,1,1,1,1,1

In [4]:
ipaddress_dim = pd.read_csv(r'dataset\cloudwatch\Tables\ipaddress_dim.csv')

In [5]:
ipaddress_dim.head()

   ipaddress_id           src_ip        dst_ip
0             1   147.161.161.82  10.138.69.97
1             2     165.225.33.6  10.138.69.97
2             3  165.225.212.255  10.138.69.97
3             4   136.226.64.114  10.138.69.97
4             5   165.225.240.79  10.138.69.97

In [6]:
country_dim = pd.read_csv(r'dataset\cloudwatch\Tables\country_dim.csv')

In [7]:
country_dim.head()

   country_id src_ip_country_code
0           1                  AE
1           2                  US
2           3                  CA
3           4                  NL
4           5                  DE

In [8]:
protocol_dim = pd.read_csv(r'dataset\cloudwatch\Tables\protocol_dim.csv')

In [9]:
protocol_dim.head()

   protocol_id protocol
0            1    HTTPS

In [10]:
responsecode_dim = pd.read_csv(r'dataset\cloudwatch\Tables\responsecode_dim.csv')

In [11]:
responsecode_dim.head()

   responsecode_id  response.code
0                1            200

In [12]:
port_dim = pd.read_csv(r'dataset\cloudwatch\Tables\port_dim.csv')

In [13]:
port_dim.head()

   port_id  dst_port
0        1       443

In [14]:
names_dim = pd.read_csv(r'dataset\cloudwatch\Tables\names_dim.csv')

In [15]:
names_dim.head()

,names_id,rule_names,observation_name,source.meta,source.name
0,1,Suspicious Web Traffic,Adversary Infrastructure Interaction,AWS_VPC_Flow,prod_webserver

In [16]:
detectiontype_dim = pd.read_csv(r'dataset\cloudwatch\Tables\detectiontype_dim.csv')

In [17]:
detectiontype_dim.head()

   detectiontype_id detection_types
0                 1        waf_rule

## Load to PostgreSQL

take code from interim project